## Temp code files
*.asv

*.fig 
*.mdl 
*.mdlp 
*.mexa64 
*.mexw64 
*.mexmaci64 
*.mlapp 
*.mldatx 
*.mlproj 
*.mlx 
*.p 
*.sfx 
*.sldd 
*.slreqx 
*.slmx 
*.sltx 
*.slxc 
*.slx
*.slxp 

## Other common  file types
*.docx 
*.exe 
*.jpg 
*.pdf 
*.png 
*.xlsx 
!/rawdata/*.xlsx
!/processeddata/*.xlsx

## ignore MS temp files
~*

## Figure files
*.svg
!/BMRA/*.svg

## Folders:
/figs/*
/figures/*
